Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
xterm*termName:        xterm-256color
xterm*faceName:        Terminess Powerline:size=8
xterm*faceNameDoublesize: IPAPMincho:style=Regular
xterm*dynamicColors:   true
xterm*saveLines:       4096
xterm*scrollKey:       true
xterm*scrollTtyOutput: false
xterm*scrollBar:       false
xterm*rightScrollBar:  true
xterm*jumpScroll:      true
xterm*multiScroll:     true
XTerm*locale:          true

! URxvt ----------------------------------------------------------------------

! scrollbar style - rxvt (default), plain (most compact), next, or xterm
! URxvt.scrollstyle: xterm
URxvt.scrollBar: false
URxvt.font: xft:xos4 Terminess Powerline:size=9,style=regular,xft:Inconsolata,xft:Eversion Mono

#include ".xres_color_current"
