snippet window "Main Window"
public class MainWindow : Gtk.Window
{
    Gtk.HeaderBar toolbar;
	Gtk.Box main_box;

    public MainWindow()
	{
		toolbar = new Gtk.HeaderBar();
		main_box = new Gtk.Box(Orientation.VERTICAL, 0);

        toolbar.set_title("$1");
        toolbar.set_subtitle("$2");
        toolbar.set_show_close_button(true);
        this.set_titlebar(toolbar);
		this.show_all();
	}
}

endsnippet
